
section{
    padding: 50px 30px 20px 60px ;
    margin-left: 40px;
    font-family: fantasy;
}
section article{
    background-color: #7583aa;
width: 500px;
height: 500px;
}
section article p{
    line-height: 4;
    font-family: fantasy;
   
}
#section2 p{
    color: crimson;
background-color: blue;
}
